main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    padding: 0;
  }
  
  canvas {
    object-fit: contain;
    max-height: 90%; /* Adjust max-height to leave space for sliders */
    max-width: 100%;
  }